body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "inter";

  background-color: #9eb392;

  font-size: 30px;
  font-weight: 600;
  color: white;
}

#arrow {
  transition: 0.3s;
  position: absolute;

  margin-right: 1280px;
  margin-bottom: 600px;
}

#bubbleWrapper {
  margin-top: 80px;
}

.alignWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 630px;
  margin-bottom: 30px;
}

#bubble1 {
  width: 300px;
  height: 300px;
  background-color: #7b6e56;
  border-radius: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

#bubble2 {
  width: 300px;
  height: 300px;
  background-color: #9e9076;
  border-radius: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

#bubble3 {
  width: 300px;
  height: 300px;
  background-color: #b7a584;
  border-radius: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

#bubble4 {
  width: 300px;
  height: 300px;
  background-color: #b9b1a3;
  border-radius: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

#bubble1:hover {
  cursor: pointer;
  background-color: #df86a1;
}

#bubble2:hover {
  cursor: pointer;
  background-color: #df86a1;
}

#bubble3:hover {
  cursor: pointer;
  background-color: #df86a1;
}

#bubble4:hover {
  cursor: pointer;
}
